<div class="row">
        <div class="col-md-2">
            &nbsp;
        </div>
    
        <div class="col-md-8">
          
        </div>
    
        <div class="col-md-2">
            &nbsp;
        </div>
    
    </div>
    
    <div class="row">
        <div class="col-md-2">
            &nbsp;
        </div>
        <div class="col-md-8">
            <h4>List of Customer</h4>
                    <a href="#/customers/add">Add new customer</a>
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Customer ID</th>
                        <th>Customer First Name</th>
                        <th>Customer Last Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="customer in customers">
                        <td>
                           <a href="{{'#/customers/' + customer.id}}">{{ customer.id }}</a>
                        </td>
                        <td>
                            {{ customer.firstName }}
                        </td>
                        <td>
                            {{ customer.lastName }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    
        <div class="col-md-2">
            &nbsp;
        </div>
    </div>