<div class="row">
    <div class="col-md-2">
        &nbsp;
    </div>

    <div class="col-md-8">
      
    </div>

    <div class="col-md-2">
        &nbsp;
    </div>

</div>

<div class="row">
    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-8">
        <h4>List of Customer policies</h4>
                <a href="#/policies/add">Add new customer policy</a>
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Policy ID</th>
                    <th>Customer</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Price</th>
                    <th>Cover Percentage</th>
                    <th>Risk Type</th>
                    <th>Active</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="policy in policies">
                    <td>
                       <a href="{{'#/policies/' + policy.id}}">{{ policy.id }}</a>
                    </td>
                    <td>
                        {{ policy.customers.firstName + " " + policy.customers.lastName }}
                    </td>
                    <td>
                        {{ policy.startDate | date:'MM/dd/yyyy' }}
                    </td>
                    <td>
                        {{ policy.endDate | date:'MM/dd/yyyy'}}
                    </td>
                    <td>
                        {{ policy.price | currency}}
                    </td>
                    <td>
                        {{ policy.coverPercentage + "%"}}
                    </td>
                    <td>
                        {{ returnRiskType(policy.riskType) }}
                    </td>
                    <td>
                        <input type="checkbox" data-ng-model="policy.active" disabled="disabled">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-2">
        &nbsp;
    </div>
</div>